.class-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-container {
    background-color: #808080;
    color: white;
    width: 512px;
    margin: 10px 10px;
    padding: 10px 0;
    transition: ease-in-out 0.2s;
    text-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    text-align: left;
    text-indent: 25px;
}

.card-container-no {
    background-color: #808080;
    color: white;
    width: 512px;
    margin: 10px 10px;
    padding: 10px 0;
    transition: ease-in-out 0.2s;
    text-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    text-align: left;
    text-indent: 25px;
}

.card-container:hover {
    background-color: #BEBEBE;
    cursor: pointer;
}

.label-container {
    display: flex;
    flex-wrap: wrap;
    width: 512px;
}

.label-title {
    background-color: #404040;
    color: white;
    width: calc(1024px - 20px);
    margin: 20px 0;
    padding: 10px 0;
    transition: ease-in-out 0.2s;
    text-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
}

.label-button {
    background-color: #808080;
    color: white;
    width: calc(1024px - 20px);
    margin: 20px 0;
    padding: 10px 0;
    transition: ease-in-out 0.2s;
    text-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
}

.label-button:hover {
    background-color: #BEBEBE;
    cursor: pointer;
}

.text-highlight {
    color: #000000;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.input-style {
    margin: 0 10px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}

.input-style-no {
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #FFFFFF;
    transition: ease-in-out 0.2s;
}

.input-style-no:hover {
    background-color: #BEBEBE;
}

.input-style:focus {
    outline: none;
}

.input-style-no + .input-style-no {
    margin-top: 10px;
}
