.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #e4e7ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
}

.App-link {
  color: #61dafb;
}

.class-title {
  color: #061090; 
  font-family: 'Droid serif', serif; 
  font-size: 3rem; font-weight: 400; 
  font-style: italic; 
  line-height: 3rem; 
  margin: 0 0 1rem; 
  text-align: center; 
  padding-top: 1rem;
}

nav a{
  margin: 0 .75rem;
}